includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: max
    paths:
        - app
    ignoreErrors:
    	- '#Parameter \#1 \$job of method Lucid\\Foundation\\Feature::run\(\) expects string, (.*)#'
